extends layout

block content
    - const MAPS_KEY="AIzaSyBCnNOlG3tmJcQJ7SCD_1Sl9f3Gy3OHlQY";
    .mdc-textfield.mdc-textfield--fullwidth.mdc-textfield--upgraded
        input(type="text" placeholder="Search").mdc-textfield__input
        .mdc-textfield__bottom-line
    br
    div#map
    div(role="progressbar").mdc-linear-progress#progressBar
        .mdc-linear-progress__buffering-dots
        .mdc-linear-progress__buffer
        .mdc-linear-progress__bar.mdc-linear-progress__primary-bar
            span.mdc-linear-progress__bar-inner
        .mdc-linear-progress__bar.mdc-linear-progress__secondary-bar
            span.mdc-linear-progress__bar-inner
    audio#preview(src="")
    .mdc-snackbar(aria-live="assertive",aria-atomic="true","aria-hidden"="true")
        .mdc-snackbar__text#snackbarText Hello world
        .mdc-snackbar__action-wrapper
            button(type="button").mdc-snackbar__action-button Undo
    script(src='/scripts/materialCalls.js')
    script(src='/scripts/map.js')
    script(async defer src=`https://maps.googleapis.com/maps/api/js?key=${MAPS_KEY}&callback=initMap`)


