doctype html
- const pageTitle = `Festiv.al`
html
    head
        title #{pageTitle}
        link(rel='stylesheet', href='/material/material-components-web.min.css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
        link(rel='stylesheet', href='/css/style.css')
        script(src='/material/material-components-web.min.js')
        script window.mdc.autoInit();
        meta(name="viewport" content="width=device-width, initial-scale=1")
    body.mdc-typography
        header.mdc-toolbar.mdc-toolbar--fixed
            div.mdc-toolbar__row
                section.mdc-toolbar__section.mdc-toolbar__section--align-start
                    span.mdc-toolbar__title #{pageTitle}
        div.mdc-toolbar-fixed-adjust
            br
            block content