extends layout

block content
    - const MAPS_KEY="AIzaSyBCnNOlG3tmJcQJ7SCD_1Sl9f3Gy3OHlQY";
    div#map
    div(role="progressbar").mdc-linear-progress#progressBar
        .mdc-linear-progress__buffering-dots
        .mdc-linear-progress__buffer
        .mdc-linear-progress__bar.mdc-linear-progress__primary-bar
            span.mdc-linear-progress__bar-inner
        .mdc-linear-progress__bar.mdc-linear-progress__secondary-bar
            span.mdc-linear-progress__bar-inner
    .mdc-card.nowPlayingCard
        section.mdc-card__media.mdc-card__media__now-playing#songCover
        section.mdc-card__primary
            h1.mdc-card__title.mdc-card__title--large#songTitle Nothing played yet
            h2.mdc-card__subtitle#songArtists
        section.mdc-card__actions
            button(disabled).mdc-button.mdc-button--compact.mdc-card__action#stopButton
    audio#preview(src="")
    script(src='/scripts/materialCalls.js')
    script(src='/scripts/map.js')
    script(async defer src=`https://maps.googleapis.com/maps/api/js?key=${MAPS_KEY}&callback=initMap`)


